<div class="main_banner">
	<div class="textgroup1">
		<h1 class="bigtext">Create and Share Stories</h1>
		<div class="learn_more_button"><p>Learn More</p></div>
	</div>
</div>

<div class="subsection">
	<h1 class="bigtext">Relive and share your adventures</h1>
	<p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<div class="second_banner">
</div>

<div class="subsection">
	<h1 class="bigtext">Discover Stories</h1>
	<div class="learn_more_button"><p>Learn More</p></div>
</div>

<div class="footer">
	<p>a shutterbugg project</p>
</div>
